.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Play', sans-serif;
}

.centralContainer {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
}

/* FIRST SCREEN */

#title {
    width: 100%;
}

#start {
    background-color: rgba(255, 255, 255, 0.267);
    border-radius: 1rem;
    width: 250px;
    height: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Play', sans-serif;
    font-size: 2rem;
}

.centralContainer a {
    text-decoration: none;
}

#start:hover {
    background-color: rgba(255, 255, 255, 0.692);
}



/* SECOND SCREEN - 
SELECT PLAYER */

.selectPlayer h2 {
    color: white;
    margin: 0.5rem;
    text-shadow: 3px 3px #030303;
}



.fighter {
    width: 100%;
    height: 100;
    border: 4px solid goldenrod;
    border-radius: 0.5rem;
    cursor: grab;
}

.fighter:hover {
    filter: contrast(200%) brightness(150%);
    border: 4px solid rgb(255, 255, 255);
}

.fighterSelected1 {
    width: 100%;
    height: 100;
    filter: invert(100%);
    border: 4px solid rgb(0, 255, 255);
    border-radius: 0.5rem;
}

.fighterSelected2 {
    width: 100%;
    height: 100;
    filter: invert(100%);
    border: 4px solid rgb(255, 255, 0);
    border-radius: 0.5rem;
}

.infoFase2{
    width: 70rem;
    height: 12rem;
    border: 1px solid red;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
}

.infoPlayers {
    width: 100%;
    margin: 0.5rem;
    font-family: 'Play', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 3px 3px #030303;
}

.infoPlayers h1 {
    text-decoration: underline;
}

.grid {
    width: 45rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1em;
}

#infoFighters {
    flex-direction: column;
    background-color: goldenrod;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    text-shadow: 3px 3px #030303;
    font-size: 1.5rem;
}

#infoFighter1 {
    margin: 0.5rem;
}

#infoFighter2 {
    margin: 0.5rem;
    text-align: right;
}

.totalTeam {
    height: 80%;
    width: 100%;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    text-align: center;
}



/* THIRD SCREEN - ARENA & FIGHT */

#fase3 {
    background-image: url(/img/arena.jpg);
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}

.opponent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 28rem;
    height: 28rem;
}

.vsOpponent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 33rem;
    margin: 0.5rem;
}

.life {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: green;
    border-radius: 0.5rem;
    width: 28rem;
    height: 2rem;
    overflow: visible;
}

.contrincante {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28rem;
    height: 26rem;
}


.centerOpponentTop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 7rem;
}

#fighterName1 {
    width: 7rem;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 3px 3px #030303;
    font-size: 2rem;
}

#fighterName2 {
    width: 7rem;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 3px 3px #030303;
    font-size: 2rem;
}

.centerOpponentMiddle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 11rem;
    color: white;
    text-shadow: 2px 2px #FF0000;
    background-color: rgba(128, 128, 128, 0.664);
    border-radius: 1rem;
    text-align: center;
    font-size: 2.5rem;
}

.centerOpponentBottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 18rem;
    margin-top: 0.5rem;
}

#vs {
    height: 80%;
}

#opponentStyle {
    width: 28rem;
    height: 26rem;
}

.buttonFight {
    height: 7rem;
    width: 7rem;
    margin: 1rem;
    cursor: pointer;
}
/*
#infoBattle {
    width: 20rem;
    height: 4rem;
    color: white;
    background-color: red;
    margin-top: 0.5rem;
    border-radius: 1rem;
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
} */

#button {
    width: 100%;
}

#button:active {
    width: 99%;
    filter: invert(100%);

}

.players {
    height: 4rem;
    width: 18rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-top: 1rem;
}

.playerNumber {
    text-align: center;
    font-size: 1.5rem;
    text-shadow: 3px 3px #030303;
}

.counterLife {
    height: 4rem;
    width: 18rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.liveFighter {
    height: 4rem;
    width: 8rem;
    background-color: rgba(128, 128, 128, 0.664);
    border-radius: 1rem;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    text-shadow: 3px 3px #030303;
}

/* WINNER SCREEN */

.containerWinner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.winner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28rem;
    height: 28rem;
    border: 1px solid red;
    font-size: 4rem;
    color: white;
    text-shadow: 3px 3px #030303;
}

#winnertStyle {
    width: 28rem;
    height: 28rem;
}

#fase4 {
    background-image: url("/img/confeti.gif");
}