.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Play', sans-serif;
}


.audio {
    width: 2.5em;
    height: 2.5em;
    position: absolute;
    right: 1em;
    bottom: 0.5em;
}

#mute {
    width: 100%;
    cursor: pointer;
}

#mute:active {
    width: 2em;
    height: 2em;
}

.centralContainer {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
}


#title {
    width: 100%;
}

#start {
    background-color: rgba(255, 255, 255, 0.267);
    border-radius: 1rem;
    width: 250px;
    height: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Play', sans-serif;
    font-size: 2rem;
}

.centralContainer a {
    text-decoration: none;
}

#start:hover {
    background-color: rgba(255, 255, 255, 0.692);
}


#fase1 {
    display: none;
}

#fase2 {
    
}

.selectPlayer h1 {
    color: white;
    margin: 0.5rem;
}

.grid {
    width: 50rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1em;
}

.fighter {
    width: 100%;
    height: 100;
    border: 4px solid goldenrod;
    border-radius: 0.5rem;
}

.fighter:hover {
    filter: contrast(200%) brightness(150%);
    border: 4px solid red;
}

.infoFase2{
    width: 70rem;
    height: 12rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
}

.infoPlayers {
    width: 100%;
    margin: 0.5rem;
    font-family: 'Play', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#infoFighters {
    flex-direction: column;
    background-color: goldenrod;
    border-radius: 0.5rem;
}